.neon_light{
  position:relative;
  font-size:2rem;
  letter-spacing: 3px;
  color: rgb(137, 162, 251);
  width: 100%;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(219, 50, 50, 0.533));
 line-height: 0.9em;
 outline: none;
 animation: animate 5s linear infinite;
 font-family: monoton;

}

@keyframes animate{

  0%,18%,10%,50.1%,60%,65.1%,80%,90.1%,92%
  {
     color:rgb(129, 152, 235);
     box-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
  {
  color:rgb(239, 80, 80);
  text-shadow: 0 0 10px cyan,
  0 0 20px cyan,
  0 0 40px cyan,
  0 0 80px cyan,
  0 0 160px cyan,
  }

}



.active{
  color: #f30f50;
border: 1px solid;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 4px;
}




