.App {
 
  text-align: center;
 
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.resume_button {
	position: relative;
	padding: 10px 20px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	color: rgb(234, 234, 243);
	text-decoration: none;
	letter-spacing: 4px;
	font: 400 20px Monospace;
	overflow: hidden;
  margin:100px 0px;
  background: linear-gradient(to right, #171618, #3bdbff);
}

.resume_button span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 80%;
	height: 3px;
	background: linear-gradient(to right, #171618, #3bffe2);
	animation: animate1 2s linear infinite;
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.resume_button span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 80%;
	width: 3px;
	background: linear-gradient(to bottom, #171618, #3bfffc);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

.resume_button span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80%;
	height: 3px;
	background: linear-gradient(to left, #171618, #3bf8ff);
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.resume_button span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	height: 80%;
	width: 3px;
	background: linear-gradient(to top, #171618, #3bffff);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}
